//- community page which is a future implementation for our project 
extends layout

head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  block style
    

body
  block content
    