extends layout

block content

  // jumbtron contact us title and paragraph
  .jumbotron
    .container
      h1.contacttitle.display-3 Contact Us
      p.lead If you have any questions or suggestions, please feel free to contact us.
  // End jumbtron contact us title and paragraph
  // container contact us information
  .container.text-center
    .row
      .col-md-4
        img(src='https://img.icons8.com/ios-filled/50/000000/address--v1.png')
        h3.address Address
        p.address-p 250 W Pender St, Vancouver, BC V6B 1S9
      .col-md-4
        img(src='https://img.icons8.com/ios-filled/50/000000/phonelink-ring--v1.png')
        h3.phone Phone
        p (604) 871-7000
      .col-md-4
        img(src='https://img.icons8.com/external-nawicon-glyph-nawicon/50/000000/external-email-communication-nawicon-glyph-nawicon-2.png')
        h3.email Email
        p xxxxxx@team8.ca
  // End container contact us information


