extend layout 

block content
    script.
        function validateForm(){ return validatePassword(false);}
    .login
        form#register(action='/editprofile', method='post' onsubmit="return validateForm()")
            h2 Edit Profile
            label
            b
                | Email:
            br
            div #{user.email}
            label
            b
                | User Name: 
                br
            input(type='text',name='username',id='username',value='#{user.name}')
            br
            br
            label
            b
                | New Password:
            input(type='text',name='pwd', id="pwd")
            br
            br
            label
            b
                | Confirmed Password:
            input(type='text',name='cmpwd', id="cmpwd")
            br
            br
            input(type='submit',value='Save',name='submit',id='submit')
            p(id="message")