doctype html
html(lang='en', dir='ltr')
  head
    title= title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascript/client.js')
    link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css', rel='stylesheet')
    link(rel='stylesheet', href='boxicons.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')

  header
  body
    block content
  footer
   
  