extend layout 

block content
    form(method="POST", action="/user")
    input(type="hidden",name="_method", value="PUT")
    p Name 
    input(type="text", name="name")
    p Password 
    input(type="text", name="password")
    p 
    input(type="submit")
    p 
    a(href='/register', title='register') Register