extend layout 

block content
    form(action='/register', method='post')
        p Create An Account
        p User Name:
        input(type='text',name='username')
        p Password:
        input(type='text',name='pwd')
        br
        br
        input(type='submit',value='register')