extend layout 

block content
    form(action='/register', method='post')
        p Create An Account
        p User Name:
        input(type='text',name='username')
        p Email: 
        input(type='text',name='email')
        p Password:
        input(type='text',name='pwd')
        p Comfirm Password:
        input(type='text',name='cmpwd')
        br
        input(type='submit',value='register')
    if message
        p #{message}