@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka&family=Vollkorn:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    width: 100%;
}

.col-md-5 h3{
    font-weight: bold;
}

.about {
    height: 820px;
    width: 100%;
    position: fixed;
}

.col-md-5{
    z-index: 1;
}

.col-md-6  {
    position: absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    background-image: url("/image/about_image.png");
    height: 820px;
}

.bg-cover{
    background-size: cover;
    background-position: center center;
}


@media (min-width: 768px) { 
    .text-md-dark{
        color: #333;
    }
}

@media (max-width: 1000px) { 
    /*opacity the image*/
    .col-md-6 {
        opacity: .4;
    }
}