/*<div-contact-info>*/
.contact-info {
    color: #8B4513;
    font-weight: bold;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    max-width: 500px;
    line-height: 65px;
    margin: 10px 20px 10px 20px;
    margin-top: -60px;
    padding: 20px;
    font-size: 18px;
    background-color: #FAFAFA;
    opacity: 0.9;
  }
  
  /*<div-marker <i>符號>*/
  .contact-info i{
    margin-right: 20px;
    font-size: 25px;
    margin-left: 20px;
  }
  /*<div-contact-form>*/
  .contact-form{
    max-width: 700px;
    margin-right: 50px;
  }
  .contact-info .contact-form{
    flex: 1;
  }
  /*h2:contact us*/
  .contact-form h2{
    color: #FF8C00;
    background-color: #FAFAFA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 40px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: normal;
    margin-bottom: 30px;
    opacity: 0.9;
  }
  /*text-box: your name & email*/
  .contact-form .text-box{
    background: #424242;
    color: #FFCC80;
    border: none;
    width: calc(50% - 10px);
    padding: 14px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    opacity: 0.9;
  }
  /*text-box: your name & email*/
  .contact-form .text-box:first-child{
    margin-right: 15px;
  }
  /*textarea: your message*/
  .contact-form textarea{
    background: #424242;
    color: #FFCC80;
    border: none;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    min-height: 180px;
    max-height: 200px;
    resize: none;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }

  .contact-form .send-btn{
    float: right;
    background: #FF8A65;
    color: #00695C;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .contact-form .send-btn:hover{
    background: #FFAB91;
    color: #795548 ;
  }
